/*
 * @Author: Your name
 * @Date:   2021-03-11 15:09:45
 * @Last Modified by:   Your name
 * @Last Modified time: 2021-03-12 16:43:16
 */
body{
    font-size: 24px;
}
.active{
    color:blue;
}
.big{
    font-size: 45px;
    color: hotpink;
    border: lightseagreen;
}

body h1{
    color: mediumslateblue;
}
ul{
    list-style: none;
}
.spanColor{
    font-size: x-large;
    color:indianred
}
.fontColor{
    color:rgb(21, 233, 109)
}
.fontStyle{
    font-size: 25px;
    font-weight: bold;
}